params {
    // mandatory params
    config_secrets = null
    input = null

    // optional params
    threads = 1
    config_path = "$baseDir/assets/application-dev.properties"
    outdir = "results"
    secret_key = "$baseDir/assets/NO_FILE"
}

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    arm {
        docker.runOptions      = '--platform=linux/arm64'
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
    }
}

process {
    maxRetries = 3
    maxErrors = '-1'
    cpus = 1
    memory = 2.GB
    time = 6.h
}

nextflow.enable.strict = true

manifest {
    name            = 'ebi-gdp/globflow'
    author          = 'Benjamin Wingfield'
    defaultBranch   = 'main'
    homePage        = 'https://github.com/ebi-gdp/globflow'
    description     = 'Download files from Globus over HTTPS, with optional decryption on the fly'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.1'
    version         = '0.1.0'
}