nextflow.enable.strict = true

params {
    input = null
    secret_key = null
    config_application = null
    config_crypt4gh = null
    outdir = "results"
    debug = false  // keep files around for debugging
    decrypt = false // try to decrypt on the fly?
}

profiles {
    docker {
        docker.enabled = true
    }
    arm {
        docker.runOptions  = '--platform=linux/arm64'
    }
}

process {
    cpus = 1
    memory = 2.GB
    time = 6.h
    container = "ghcr.io/ebi-gdp/globus-file-handler-cli:1.0.5"
}

manifest {
    name            = 'ebi-gdp/globflow'
    author          = 'Benjamin Wingfield'
    defaultBranch   = 'main'
    homePage        = 'https://github.com/ebi-gdp/globflow'
    description     = 'Download files from Globus over HTTPS, with decryption on the fly'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.1'
    version         = '2.0.0'
}
