params {
    // mandatory params
    config_secrets = null
    input = null

    // optional params
    config_path = "$baseDir/assets/application-dev.properties"
    outdir = "results"
    secret_key = "$baseDir/assets/NO_FILE"
}

docker {
    enabled = true
}

process {
    errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    cpus = 1
    memory = 2.GB
    time = 6.h
    container = "ghcr.io/ebi-gdp/globus-file-handler-cli:1.0.0"
}

nextflow.enable.strict = true